# Pandas lab 1

## **Import data and libraries**

In this Lab we will use a restaurant dataset. 

The dataset contains tips data from different customers females and males, smokers and non smokers, from days, dinner or lunch and from different table size.

In [3]:
import pandas as pd
df = pd.read_csv('https://www.dropbox.com/s/ory0s3z89z3zkt4/restaurant.csv?dl=1')

# If this link died, let's run this code:
# df = pd.read_csv('data\restaurant.csv')

## **Overview**

### ðŸ“‘ Question 1 (EXPRESSION - 5 pts)

Write **one line of code** to Show the **first 3 rows** of the data

**Output should look like this**

|    |   total_bill |   tip | sex    | smoker   | day   | time   |   size |
|---:|-------------:|------:|:-------|:---------|:------|:-------|-------:|
|  0 |        16.99 |  1.01 | Female | No       | Sun   | Dinner |      2 |
|  1 |        10.34 |  1.66 | Male   | No       | Sun   | Dinner |      3 |
|  2 |        21.01 |  3.5  | Male   | No       | Sun   | Dinner |      3 |

In [ ]:
# Your answer/code here:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

### ðŸ“‘ Question 2 (EXPRESSION - 5 pts)

Write **one line of code** to Show the **last 2 rows** of the data

**Output should look like this**

|     |   total_bill |   tip | sex    | smoker   | day   | time   |   size |
|----:|-------------:|------:|:-------|:---------|:------|:-------|-------:|
| 242 |        17.82 |  1.75 | Male   | No       | Sat   | Dinner |      2 |
| 243 |        18.78 |  3    | Female | No       | Thur  | Dinner |      2 |

In [ ]:
# Your answer/code here:

     total_bill   tip     sex smoker   day    time  size
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

### ðŸ“‘ Question 3 (MULTICHOICE_SINGLE - 5 pts)

What syntax is right to get random rows in dataframe?

-  A df.shuffle()

- B df.random()

- C df.sample()

- D df.mix()

In [ ]:
# Your answer/code here:
df.sample(5)

# -> C

     total_bill   tip     sex smoker   day    time  size
221       13.42  3.48  Female    Yes   Fri   Lunch     2
71        17.07  3.00  Female     No   Sat  Dinner     3
85        34.83  5.17  Female     No  Thur   Lunch     4
146       18.64  1.36  Female     No  Thur   Lunch     3
49        18.04  3.00    Male     No   Sun  Dinner     2

### ðŸ“‘ Question 4 (EXPRESSION - 5 pts)
Write one line of code to show a **descriptive statistics summary** of the dataset.

**Output should look like this**

|       |   total_bill |       tip |      size |
|:------|-------------:|----------:|----------:|
| count |    244       | 244       | 244       |
| mean  |     19.7859  |   2.99828 |   2.56967 |
| std   |      8.90241 |   1.38364 |   0.9511  |
| min   |      3.07    |   1       |   1       |
| 25%   |     13.3475  |   2       |   2       |
| 50%   |     17.795   |   2.9     |   2       |
| 75%   |     24.1275  |   3.5625  |   3       |
| max   |     50.81    |  10       |   6       |

In [ ]:
# Your answer/code here:

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

## **EDA - Exploratory Data Analysis**

### ðŸ“‘ Question 5 (EXPRESSION - 5 pts)
Write one line of code to find out the **minimum amount of tip**.

**Output should be a number**

In [ ]:
# Your answer/code here:

1.0

### ðŸ“‘ Question 6 (EXPRESSION - 5 pts)
Write one line of code to find out the **maximum amount of tip**.

**Output should be a number**

In [ ]:
# Your answer/code here:

10.0

### ðŸ“‘ Question 7 (MULTICHOICE_SINGLE - 5 pts)

On which days of the week, the restaurant is open?

- A. Mon, Tue, Wed, Thu

- B. Thu, Fri, Sat, Sun

- C. Mon, Wed, Fri 

- D. Open all days in week

In [ ]:
# Your answer/code here: 

# -> B

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

### ðŸ“‘ Question 8 (EXPRESSION - 5 pts)
Write one line of code to get the list of **unique values** of the column ```time```.

**Output should look like this**

array(['Dinner', 'Lunch'], dtype=object)

In [ ]:
# Your answer/code here:

array(['Dinner', 'Lunch'], dtype=object)

### ðŸ“‘ Question 9 (EXPRESSION - 5 pts)
Write one line of code to get the range of table size. 

Range means the **difference between the max and the min**.

**Output should be a number**

In [ ]:
# Your answer/code here:

47.74

### ðŸ“‘ Question 10 (MULTICHOICE_SINGLE - 5 pts)
How many men/women paid for the dish?

- A Male: 157, Female: 89

- B Male: 85, Female: 156

- C Male: 157, Female: 87

- D Male: 142, Female: 15

In [ ]:
# Your answer/code here:

sex
Female     87
Male      157
dtype: int64

### ðŸ“‘ Question 11 (MULTICHOICE_SINGLE - 5 pts)
What is the percentage of number of smoker table over the total?

- A 38%

- B 40%

- C 2%

- D 62%

In [ ]:
# Your answer/code here:


# -> A

38

### ðŸ“‘ Question 12 (MULTICHOICE_SINGLE - 5 pts)
What is the percentage of revenue from the smoker tables over the total?

- A 38%

- B 40%

- C 2%

- D 62%

In [ ]:


# -> B

40

### ðŸ“‘ Question 13 (EXPRESSION - 5 pts)
Write one line of code to list **3 tables** that have the **most expensive** bills.

**Output should look like this**

|     |   total_bill |   tip | sex   | smoker   | day   | time   |   size |
|----:|-------------:|------:|:------|:---------|:------|:-------|-------:|
| 170 |        50.81 | 10    | Male  | Yes      | Sat   | Dinner |      3 |
| 212 |        48.33 |  9    | Male  | No       | Sat   | Dinner |      4 |
|  59 |        48.27 |  6.73 | Male  | No       | Sat   | Dinner |      4 |

In [ ]:
# Your answer/code here:

     total_bill    tip   sex smoker  day    time  size
170       50.81  10.00  Male    Yes  Sat  Dinner     3
212       48.33   9.00  Male     No  Sat  Dinner     4
59        48.27   6.73  Male     No  Sat  Dinner     4

### ðŸ“‘ Question 14 (MULTICHOICE_SINGLE - 5 pts)
Between smoker and non-smoker, on average per person who tips more according the percentage of the tip on total bill.

- A Non-smoker

- B Smoker

In [ ]:
# Your answer/code here:

38

In [ ]:

# -> A

62

### ðŸ“‘ Question 15 (EXPRESSION - 5 pts)

Write one line of code to filter out the **"smoker"** tables on **Sunday**.

**Output should look like this**

|     |   total_bill |   tip | sex    | smoker   | day   | time   |   size |
|----:|-------------:|------:|:-------|:---------|:------|:-------|-------:|
| 164 |        17.51 |  3    | Female | Yes      | Sun   | Dinner |      2 |
| 172 |         7.25 |  5.15 | Male   | Yes      | Sun   | Dinner |      2 |
| 173 |        31.85 |  3.18 | Male   | Yes      | Sun   | Dinner |      2 |
| 174 |        16.82 |  4    | Male   | Yes      | Sun   | Dinner |      2 |
| 175 |        32.9  |  3.11 | Male   | Yes      | Sun   | Dinner |      2 |
| 176 |        17.89 |  2    | Male   | Yes      | Sun   | Dinner |      2 |
| 177 |        14.48 |  2    | Male   | Yes      | Sun   | Dinner |      2 |
| 178 |         9.6  |  4    | Female | Yes      | Sun   | Dinner |      2 |
| 179 |        34.63 |  3.55 | Male   | Yes      | Sun   | Dinner |      2 |
| 180 |        34.65 |  3.68 | Male   | Yes      | Sun   | Dinner |      4 |
| 181 |        23.33 |  5.65 | Male   | Yes      | Sun   | Dinner |      2 |
| 182 |        45.35 |  3.5  | Male   | Yes      | Sun   | Dinner |      3 |
| 183 |        23.17 |  6.5  | Male   | Yes      | Sun   | Dinner |      4 |
| 184 |        40.55 |  3    | Male   | Yes      | Sun   | Dinner |      2 |
| 186 |        20.9  |  3.5  | Female | Yes      | Sun   | Dinner |      3 |
| 187 |        30.46 |  2    | Male   | Yes      | Sun   | Dinner |      5 |
| 188 |        18.15 |  3.5  | Female | Yes      | Sun   | Dinner |      3 |
| 189 |        23.1  |  4    | Male   | Yes      | Sun   | Dinner |      3 |
| 190 |        15.69 |  1.5  | Male   | Yes      | Sun   | Dinner |      2 |

In [ ]:
# Your answer/code here:

     total_bill   tip     sex smoker  day    time  size
164       17.51  3.00  Female    Yes  Sun  Dinner     2
172        7.25  5.15    Male    Yes  Sun  Dinner     2
173       31.85  3.18    Male    Yes  Sun  Dinner     2
174       16.82  4.00    Male    Yes  Sun  Dinner     2
175       32.90  3.11    Male    Yes  Sun  Dinner     2
176       17.89  2.00    Male    Yes  Sun  Dinner     2
177       14.48  2.00    Male    Yes  Sun  Dinner     2
178        9.60  4.00  Female    Yes  Sun  Dinner     2
179       34.63  3.55    Male    Yes  Sun  Dinner     2
180       34.65  3.68    Male    Yes  Sun  Dinner     4
181       23.33  5.65    Male    Yes  Sun  Dinner     2
182       45.35  3.50    Male    Yes  Sun  Dinner     3
183       23.17  6.50    Male    Yes  Sun  Dinner     4
184       40.55  3.00    Male    Yes  Sun  Dinner     2
186       20.90  3.50  Female    Yes  Sun  Dinner     3
187       30.46  2.00    Male    Yes  Sun  Dinner     5
188       18.15  3.50  Female    Yes  Sun  Dinner     3
189       23.10  4.00    Male    Yes  Sun  Dinner     3
190       15.69  1.50    Male    Yes  Sun  Dinner     2

### ðŸ“‘ Question 16 (MULTICHOICE_SINGLE - 5 pts)
How many tables belong to the smoker, at lunch?

- A 20

- B 21 

- C 22

- D 23

In [ ]:
# Your answer/code here:

# -> D

23

### ðŸ“‘ Question 17 (EXPRESSION - 10 pts)

Write one line of code to compute the **average tip** amount of men who smoke and dine on **Friday's dinner**.

**Output should be a number**

In [ ]:
# Your answer/code here:

3.0033333333333334

### ðŸ“‘ Question 18 (EXPRESSION - 5 pts)
Write one line of code to compute the **sum** of total bills of the **male** customers who dine in any day that's **not Friday**.

**Output should be a number**

In [ ]:
# Your answer/code here:

458.14

### ðŸ“‘ Question 19 (EXPRESSION - 5 pts)
Write one line of code to filter the tables with tip amount **larger** than the **average** tip amount.

In [ ]:
# Your answer/code here:

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

[121 rows x 7 columns]

### ðŸ“‘ Question 20 - Male or Female has more total tip

*Output should like that*
|   |    sex |    tip |
|--:|-------:|-------:|
| 0 | Female | 246.51 |
| 1 |   Male | 485.07 |

In [ ]:
# Your code here!

      sex     tip
0  Female  246.51
1    Male  485.07

### ðŸ“‘ Question 21 - Thu, Fri, Sat, Sun: Which day is the best day to work?

*Output should like that*
|   |  day | total_bill |    tip |
|--:|-----:|-----------:|-------:|
| 1 |  Sat |    1778.40 | 260.40 |
| 2 |  Sun |    1627.16 | 247.39 |
| 3 | Thur |    1096.33 | 171.83 |
| 0 |  Fri |     325.88 |  51.96 |

In [ ]:
# Your answer/code here:

    day  total_bill     tip
0   Sat     1778.40  260.40
1   Sun     1627.16  247.39
2  Thur     1096.33  171.83
3   Fri      325.88   51.96

## Great Job!!